.landing-screen-container {
  min-height: $minLayoutHeight;
  height: auto;
}

.landing-screen-banner {
  height: 60vh;
  border-bottom: solid 1px $borderColor;
  background-image: url("../../assets/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: clamp(20px, 3vw, 50px);
  border-radius: 20px;

  .landing-banner-text-container {
    position: absolute;
    right: 10%;
    top: 40%;
    transform: translate(0, -35%);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    text-align: right;
    color: black;

    h1 {
      font-family: "Near-Font-SemiBold";
      text-transform: uppercase;
      line-height: 1.5;
      font-size: clamp(20px, 2vw, 2.3rem);
    }

    p {
      line-height: 1.3;
      max-width: 45ch;
      margin-top: 40px;
      margin-left: auto;
      font-size: clamp(14px, 1vw, 1.5rem);

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.landing-screen-cards {
  margin: clamp(20px, 3vw, 50px);
  margin-top: 0;
  height: auto;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .landing-screen-card {
    position: relative;
    border-radius: 20px;    
    display: flex;    
    flex-direction: column;
    flex: 1; 
    overflow: hidden;
    
    img {
      border-radius: 20px;
      display: block;
      width: 100%;
      height: auto;
      max-height: 800px;
    }


    &:first-child {
      margin-right: clamp(20px, 3vw, 50px);
    }
          
    .landing-screen-card-text-container {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 40px;

    }

    .landing-screen-card-title {
      font-family: "Near-Font-SemiBold";
      text-transform: uppercase;
      line-height: 1.5;
      font-size: clamp(20px, 2vw, 2.3rem);
      color: white;     
      margin-bottom: 15px;
    }

    .landing-screen-card-button {
        border: solid 1px white;
        border-radius: 10px;
        width: max-content;
        padding: 10px 20px;        
        text-transform: capitalize;
        background-color: white;
        color: black;
        font-family: "Near-Font-SemiBold";  
        cursor: pointer;      
    }
  }
}

@media screen and (max-width: 972px) {
  .landing-screen-card {
    &:first-child {
      margin-right: 0;
      margin-bottom: clamp(20px, 3vw, 50px);
    }

    img {
      max-height: 900px;
    }

    width: 100%;
  }

  .landing-screen-cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .landing-screen-banner {
    height: 40vh;
    background-image: url("../../assets/images/2moded.jpg");
  }
}

@media screen and (max-width: 1280px) {
  .landing-screen-banner {
    height: 50vh;
    background-image: url("../../assets/images/2moded.jpg");
  }
}
