@font-face {
    font-family: "Near-Font-SemiBold";
    src: url(../../assets/font/otf/Manrope-SemiBold.otf);
}
@font-face {
    font-family: "Near-Font-Medium";
    src: url(../../assets/font/otf/Manrope-Medium.otf);
}
@font-face {
    font-family: "Near-Font-Regular";
    src: url(../../assets/font/otf/Manrope-Regular.otf);
}

body {    
    font-family: "Near-Font-Regular";
    line-height: 1.5;
}
