@font-face {
  font-family: "Near-Font-SemiBold";
  src: url(../../assets/font/otf/Manrope-SemiBold.otf);
}
@font-face {
  font-family: "Near-Font-Medium";
  src: url(../../assets/font/otf/Manrope-Medium.otf);
}
@font-face {
  font-family: "Near-Font-Regular";
  src: url(../../assets/font/otf/Manrope-Regular.otf);
}
@font-face {
  font-family: "Near-Font-ExtraBold";
  src: url(../../assets/font/otf/Manrope-ExtraBold.otf);
}
@font-face {
  font-family: "Near-Font-Bold";
  src: url(../../assets/font/otf/Manrope-Bold.otf);
}
@font-face {
  font-family: "Near-Font-Light";
  src: url(../../assets/font/otf/Manrope-Light.otf);
}
@font-face {
  font-family: "Near-Font-ExtraLight";
  src: url(../../assets/font/otf/Manrope-ExtraLight.otf);
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: "Near-Font-Regular";
  

  color: $lightGray;
  font-family: 'Open Sans', sans-serif;
}
