header {    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.app-container {
    padding-top: 65px;
}

.body-container {
    min-height: $minLayoutHeight;
    height: auto;
    position: relative;
    background-color: #FFF;
}