/* Breakpoints */
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 767px;

/* Base Colors */
$black: #262626;
$darkGray: #3F4246;
$lightGray: #A7A7A7;
$white: #FFFFFF;
$borderColor: #d1d1d1; /* Near.org - inpired */
$borderColor: #d1d1d1; /* Near.org - inpired */
// $borderColor: #f0f0f1; /* NEAR Wallet - inspired */
// $navbarFooterBackground: #fcfcfc;
$navbarFooterBackground: #FFF;

/* Font */
$lightFont: #72727a;
$darkFont: $black;

/* Accent Colors */
$blue: #5F8AFA;
$green: #AAD055;
$yellow: #FFC860;
$red: #DB5555;
$turquoise: #4FD1D9;
$purple: #6B6EF9;
$lilac: #A463B0;
$orange: #E3935B;

$orangeLanding: #F6412F;
$grayLanding: #333333;

/* Measurements */
$minLayoutHeight:  calc(100vh - 365px);
$minLayoutHeight:  calc(100vh - 65px);
