/* Breakpoints */
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 767px;

/* Base Colors */
$black: #262626;
$darkGray: #3F4246;
$lightGray: #A7A7A7;
$white: #FFFFFF;

/* Accent Colors */
$blue: #5F8AFA;
$green: #AAD055;
$yellow: #FFC860;
$red: #DB5555;
$turquoise: #4FD1D9;
$purple: #6B6EF9;
$lilac: #A463B0;
$orange: #E3935B;
