.create-recipe-book-tile-container {
  position: relative;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  & img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  & input[type="file"] {
    display: none;
  }

  & .image-uploader-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px $borderColor;
    min-height: 200px;
  }

  & .image-input-placeholder {
    display: flex;

    height: 100%;
    max-width: 100%;
  }

  & .title {
    width: 90%;
    margin: auto;
    padding: 10px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .create-recipe-book-title {
      text-transform: uppercase;
      color: black;
      letter-spacing: 2px;
      font-weight: bold;
    }
    border-bottom: solid 1px rgb(186, 186, 186);
  }

  & .explore-option-container {
    width: 90%;
    margin: auto;
    padding: 10px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    small {
      margin-right: 15px;
      text-transform: uppercase;
      color: black;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }

  & .recipe-book-message {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    width: max-content;

    small {
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: small;
    }
  }
}
