.footer-container {
  min-height: 300px;
  height: auto;
  width: 100%;
  border-top: solid $borderColor 1px;
  padding: 80px 10vw;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  background-color: $navbarFooterBackground;
  box-shadow: 1.95px -1.95px 2.6px rgba(0, 0, 0, 0.05);
  background-color: rgb(10, 10, 10);
  color: white;
}

.footer-section {
  width: max-content;
  overflow-wrap: break-word;
  margin: 20px;

  h5 { 
    color: white;
    text-transform: capitalize;
  }
}

.first-footer-section {
  display: flex;
  flex-direction: column;
  max-width: 40ch;

  small {
    margin-top: 10px;
    font-size: small;
  }
}

.second-footer-section {
  .pages-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    a {
      text-transform: capitalize;
    }
  }
}

.third-footer-section {
    .socials-list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    
        a {
          text-transform: capitalize;
        }
      }
}

.fourth-footer-section {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;

    .near-logo-container {
        margin-top: 10px;
        padding-right: 5px;        
        width: 100%;
    }
}

@media (max-width: 992px) {
  .first-footer-section {
    max-width: 25ch;
  }
}
