.ingredient-wrapper {
  display: flex;
  // border: solid;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.ingredient-container {
  display: flex;
  .ingredient-quality-container {
    &-amount,
    &-unit,
    &-label,
    &-details {
      color: black;
      text-transform: lowercase;
    }

    &-amount,
    &-unit {
      font-weight: bold;
      margin-right: 5px;
    }

    &-label {
      margin-right: 5px;
    }
  }
}
