.navbar {
  position: relative;
  font-size: 14px !important;
  margin-bottom: 20px;
  padding: 5px 15px;
  border-bottom: 1px solid $borderColor;
  height: 65px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  background-color: $navbarFooterBackground;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

.navbar-logo-container {
  padding: 0 15px 0 0;
  margin-right: 10px;
  min-width: 165px;
  width: 165px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
  margin-left: auto;
}

.navbar-nav-links-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 10px;

  .navbar-link {
    margin-left: 25px;
    color: $darkFont;
    text-transform: capitalize;
    display: flex;

    &:first-child {
      margin-left: 0;
    }

    .navbar-link-icon {
      margin-right: 10px;
      height: 100%;
      display: block;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      color: $lightFont;
    }
  }

  .lang-selector {
    margin-right: 10px;
  }

  width: 40%;
}

.navbar-secondary-navigation-container {
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 32px;

  .lang-selector {
    margin-right: 10px;
  }

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      justify-content: center;
      align-items: center;
      border: solid black 1px;
      padding: 5px 9px;
      height: 100%;
      border-radius: 4px 0px 0px 4px;
      cursor: pointer;
      background-color: black;
    }

    input {
      height: 100%;
      background-color: white;
      border: solid $borderColor 1px;
      border-left: none;
      border-radius: 0 4px 4px 0;
      padding-left: 0;
      padding: 5px 9px;
      outline: none;
    }
  }
}

.user-account-wrapper {
  position: relative;

  .user-icon-span {
    border: solid $borderColor 1px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: black;
  }

  .user-account-menu {
    position: absolute;
    height: auto;
    max-width: calc(100vw - 10px);
    width: max-content;
    top: calc(100% + 25px);
    right: 0;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 1px $borderColor;
  }

  .user-account {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
    margin-bottom: 10px;
    border: solid 1px $borderColor;

    .near-account-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h6 {
      margin-left: 5px;
    }
  }

  .disconnect-user-account {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    cursor: pointer !important;
    border: solid 1px $borderColor;

    .disconnect-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h6 {
      margin-left: 5px;
    }
  }
}

.hamburger-icon {
  display: none;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;

  .hamburger-bar-top,
  .hamburger-bar-bottom {
    height: 1px;
    background-color: $darkFont;
    width: 100%;
  }

  small {
    position: relative;
    font-size: small;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.2em;
    color: $darkFont;
  }
}

@media (max-width: 992px) {
  .navbar-nav-links-container {
    display: none;
  }

  .user-account-wrapper {
    margin-right: 15px;
  }

  .lang-selector,
  .input-group {
    display: none;

    & > * {
      display: none;
    }
  }

  .navbar-secondary-navigation-container {
    .hamburger-icon {
      display: flex;
    }
  }
}

@media (min-width: 992px) {
  .input-group {
    span {
      display: flex;
    }
  }
}

.hamburger-icon-close {
  position: relative;
  small {
    visibility: hidden;
    transition: all 50ms ease-in-out;
  }

  .hamburger-bar-top,
  .hamburger-bar-bottom {
    height: 1px;
    background-color: $darkFont;
    width: 100%;
    z-index: 2;

    position: absolute;
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }

  .hamburger-bar-top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .hamburger-bar-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
