.popup-container {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;

  & .popup-content-header {
      flex: 1;
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-bottom: solid 1px $borderColor;
      padding: 10px;      
      
    .title-popup {
        text-transform: uppercase;
        font-size: small;
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }
    .close-popup-icon {        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }
  }
}
