.recipes-row {
  padding-top: 50px;

  .swiper {
    width: 100%;
    height: auto;
    padding: 20px;
    overflow-y: visible;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: grab;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    img {
      display: block;
      height: auto;
    }
  }

  .recipes-row-title {
    margin-bottom: 20px;
    margin-left: 20px;
    width: max-content;

    h3 {
      text-transform: uppercase;
      font-size: small;
      font-size: clamp(14px, 1.4vw, 16px);
      font-weight: bold;
      color: black;
      letter-spacing: 3px;
      position: relative;
      line-height: 2.5;
    }

    .line {
      height: 1px;
      max-width: 100%;
      background-color: black;
    }
  }
}

@media (max-width: 620px) {
  .recipes-row {
    .recipes-row-title {
      margin: 0 auto;
    }
  }
}