.recipe-tile-container {
  width: 300px;
  max-width: 300px;
  position: relative;
}

.recipe-slide-information-wrapper {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.recipe-slide-information-wrapper .tipsRecived,
.recipe-slide-information-wrapper .averageRating {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding: 10px;
  color: white;
}

.recipe-slide-information-wrapper .averageRating {
  top: -25%;
  left: 0;
  small {
    margin-left: 5px;
  }
}

.recipe-slide-information-wrapper .tipsRecived {
  top: -50%;
  left: 0;
  small {
    margin-left: 5px;
  }
}

.recipe-slide-information-wrapper .title {
  width: 90%;
  margin: auto;
  padding: 10px;
  height: 70px;
  max-height: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  h6 {
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
  }
  border-bottom: solid 1px rgb(186, 186, 186);
}
.recipe-slide-information-wrapper .description {
  padding: 30px;
  height: 140px;
  max-height: 140px;
  min-height: 140px;
  
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  p {    
    max-width: 100%;
    font-size: small;
  }
}

.recipe-tile-container .recipe-message {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  width: max-content;

  small {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: small;
  }
}

.create-recipe-tile {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: dotted 2px $borderColor;
  padding: 40px;
  cursor: pointer;
}

